RED_HANDLE=battleshipred.bsky.social
RED_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
BLUE_HANDLE=battleshipblue.bsky.social
BLUE_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
LOG_HANDLE=battlelog.bsky.social
LOG_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
DB_PATH=/absolute/path/to/battleship.db
LOG_PATH=/absolute/path/to/battleship.log
TURN_MINUTES=60
RESTART_DELAY_SECONDS=3600
